body {
    background-image: url(cork.png);
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    width: 250px;
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 36px;
}

#content {
    display: block;
    margin: 0 auto; 
    /* margin-top: 70px; */
    width: 350px;
    height: 467px;
    position: relative;
    border: 10px rgb(240, 241, 241) solid;
    border-bottom: 70px rgb(240, 241, 241) solid;
    outline-style: solid;
    outline-width: 3px;
}

#content img {
    position: absolute;
    left: 0;
    top: 0;
}

#pin {
    z-index: 2;
}

#previous, #next {
    text-decoration: none;
    font-size: 24px;
    position: absolute;
    font-family: "Luckiest Guy", cursive;
    color: green;
    background-color: rgb(240, 241, 241);
    padding: 10px;
    border-radius: 20px;
    font-family: "Short Stack", cursive;
    font-weight: 400;
}

#previous {
    margin-left: 30px;
    left: 0;
    bottom: 10px;
}

#next {
    margin-right: 30px;
    right: 0;
    bottom: 10px;
}

/* .pinStyles {
    z-index: 2;
    margin: auto;
    right: 0%;
    bottom: 100%;
    /* transform: translate(-50%, -50%); 
    }*/

.fadeinimg {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

