


/* ALL STYLES  */
a {
    text-decoration: none;
}

body {
    color: #333;
    /* padding: 50px 50px 0px 50px; */
    line-height: 1.5em;
}

button { 
    padding: 10px;  
}


/* HOME PAGE STYLES */

#bodyHomePage {
background-color: #f9eaec;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ed9fe6' fill-opacity='0.33'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* h1 text and background styles */
.h1HomePageaAndRules {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    line-height: 50px;
    color: rgb(79, 29, 67);  
    margin-top: 8px;
}

/* h1 styles that are specific to HomePage */
#h1HomePage {
    width: 100%;
    height: 110px;
    padding-top: 58px;
    font-size: 70px;
    margin: auto;
    margin-bottom: 83.3px;
    background-color: rgb(234, 199, 235); 
    text-align: center;
}

.footerStyles {
    margin-top: 19px;
    width: 100%;
    height: 56px;
    background-color: rgb(234, 199, 235);
}

/* Main tag –> the 3 sections 
Flex rules for 2 pig images and the buttons on home page (score (not btns) on game page)
Set width for page*/

#mainHomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* flex for columns and margin bottom */
#flexWrapColumns {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 950px;
    margin-bottom: 50px;
}

/* Flexbox used here to center buttons on home page and round score on gameplay page*/
#middleColumn {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

/* create padding for the pig images (and buttons) so they aren't touching the background color */
.outerColumns, #middleColumn {
    padding: 17px 16px 35px 16px;
    border-radius: 13px;
}

/* Outer columns –> pig images*/
.outerColumns {
    background-color: rgba(212, 138, 213, 0.474);
    border: 4px rgb(212, 138, 213) solid;
}

#leftColumn {
    margin-left: 10px;
}

#rightColumn {
    margin-right: 13px;
}

/* animation for pig images to move up and down */
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    } 
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }
}

.outerColumns img {
    animation: moveUpDown 2s infinite;
    animation-timing-function: ease-in-out;
}

/* Start & rule button 
Font style
Background, padding is around text*/
.rulesButton, #startButton {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: rgb(79, 29, 67);
    background-color: rgb(253, 196, 205);
    border-radius: 10px;
    padding: 4px 16px 4px 16px;
}

/* spacing between buttons */
.rulesButton {
    margin-top: 30px;
}

/* make cursor turn to pointer over buttons */
.rulesButton:hover, #startButton:hover {
    cursor: pointer;
    padding: 4px 20px 4px 20px;
    box-shadow: 5px 5px 5px rgba(79, 29, 67, 0.574);
}



/* RULES PAGE STYLES */

#bodyRulesPage {
    background-color: rgb(234, 199, 235);
    padding: 15px;
}

#headerRules {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* h1 styles that are specific to Rules Page 
see the .h1HomePageaAndRules class rules in the homepage section for other styles */
#h1Rules {
    width: 400px;
    margin-bottom: 40px;
    font-size: 50px;
    padding: 10px;
    text-align: center;
    height: 60px;
    width: 400px;
}

/* Main element of rules page
pig image and buttons go next to each other with grid */
#rules {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin-top: -70px; /* makes text higher up towards h1 */
    display: grid;
    grid-template-columns: 3fr 1fr; /* text column = 75% */
    min-width: 900px;
    margin-left: 50px;
}

/* sections of grid layout on rules page in main */
#textSection, #imageSection {
    padding: 30px 10px 10px 15px;
}

#rulesPigStyles {
    margin-top: 120px;
}

.buttonsRulesPage {
    display: block;
    margin: 20px 0px 0px 50px;
    color: rgb(79, 29, 67);
    background-color: rgb(253, 196, 205);
    font-size: 34px;
    border-radius: 10px;
}

.buttonsRulesPage:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(79, 29, 67, 0.574);
}




/* GAME PLAY STYLES */

/* make scores go next to header */
header {
    display: flex;
    justify-content: space-between;
}

/* score in top left and right */
#player1ScoreContainer, #player2ScoreContainer {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 56px;
    position: absolute;
    text-align: center;
    line-height: 55px;
    padding: 28.7px;
    background-color: rgb(216, 168, 220);
}
#player1ScoreContainer {
    left: 0px;
}

#player2ScoreContainer {
    right: 0px;
}

@keyframes pigMoving {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}

.playingPigAnimation {
    animation: pigMoving 4s infinite;
    animation-timing-function: ease-in-out;
}

/* styles for roll dice, pass, and quit button, seperate styles below 
roll dice and pass use the same class of .roll*/
.roll, #quit {
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    color: rgb(79, 29, 67);
}
.roll:hover, #quit:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(79, 29, 67, 0.574);
}

.roll {
    font-size: 64px;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    background-color: rgb(253, 196, 205);
}
.roll:hover{padding: 4px 15px 4px 15px;}

#rollagain {
    padding: 5px 15px 5px 15px;
}

#pass {
    margin-left: 50px;
    padding: 5px 72px 5px 72px;
}

#quit {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 3px 7px 3px 7px;
    border-radius: 10px;
    background-color: rgb(216, 194, 197);
}
#quit:hover{padding: 4px 10px 4px 10px;}

.displayQuit {
    display: none;
}

/* dice display */
#dice {
    margin-bottom: 15px;
}




/* YOU WON POP UP STYLES */

#youWon {
    display: none; /* Initially hidden until player score is > gameEnd*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(224, 184, 227);
    color: rgb(79, 29, 67);
    z-index: 10;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 68px;
    line-height: 60px;
    text-align: center;

    /* align text in center for when flex is turned on*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* go home buttons styles */
#goHome {
    margin-top: 100px;
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: rgb(79, 29, 67);
    background-color: rgb(253, 196, 205);
    border-radius: 10px;
    padding: 4px 16px 4px 16px;
}

#goHome:hover {
    cursor: pointer;
    padding: 4px 20px 4px 20px;
    box-shadow: 5px 5px 5px rgba(79, 29, 67, 0.574);
}
