* {
    margin: auto;
}

 body {
    background-color: rgb(172, 0, 0);
    color: rgb(250, 239, 239);
 }

h1, p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 20px auto 20px auto;
    min-width: 700px;
}

p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

#flexbox-container {
    display: flex;
    min-width: 700px;
    max-width: 900px;
}

input, label, select {
    display: block;
    text-align: center;
}

input, select {
    width: 180px;
    height: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}

input:hover, select:hover, #send:hover {
    cursor: pointer;
    /* box-shadow: 0 0 10px rgb(255, 84, 206); */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.75);
}

label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

input {
    padding: 3px;
    background-color: rgb(250, 239, 239);;
}

select {
    height: 25px;
}

#send {
    width: 75px;
    height: 45px;
    margin-top: 25px;
}

.example {
    margin: auto;
    font-size: 16px;
    font-weight: 400;
}

#madlib {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(249, 249, 130);
}



